@import url(/node_modules/bootstrap-icons/font/bootstrap-icons.css);
@import 'custom';


html{
    position: relative;
}

main{
    margin-bottom: 560px;
}

footer{
    padding: 10 px;
    position: absolue;
    bottom: 0;
    left: 0;
    right: 0;
    
}
p{
    font-size: 16px;
}